{% extends "base.html" %}
{% load static %}
<!-- /workspace/Project-5/home/templates/home/index.html -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Products</h2>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row row-gap-3">
                    {% for product in page_obj %}
                        {% include 'products/product_card.html' with product=product %}
                    {% empty %}
                        <p>No products available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/pagination.html' with page_obj=page_obj %}
    
{% endblock %}