{% extends "base.html" %}
{% load static %}
<!-- /workspace/Project-5/home/templates/home/index.html -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Products</h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">  <!-- I will adjust column sizes as needed depending on my website-->
                        <div class="card h-100 border-0 shadow p-3 bg-body-tertiary rounded">
                            {% if product.imageUrl %}
                                <img class="card-img-top img-fluid" src="{{ product.imageUrl }}" alt="{{ product.courseName }}">
                            {% else %}
                                <img class="card-img-top img-fluid" src="{% static 'image/x/noimage.png' %}" alt="{{ product.courseName }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.courseName }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <strong class="mb-0 text-left fs-5">
                                    {% if product.flag %}
                                        <span class="badge bg-success">Best Seller</span>  <!-- Bootstrap badge for true -->
                                    {% endif %}
                                </strong>
                                <p class="lead mb-0 text-sm-left font-weight-bold">{{ product.instructor }}</p>
                                <p class="mb-0 text-left fs-5">${{ product.price }}</p>
                                <small class="text-muted">
                                    {% if product.rating %}
                                        <i class="fas fa-star mr-1"></i>{{ product.rating }} / 5 ({{ product.reviews}}) . {{ product.students}} students
                                        <p>{{ product.duration }} total hours . {{ product.lectures}} lectures . {{ product.level}}</p>
                                    {% else %}
                                        No Rating
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No products available.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}