 <!--Footer-->
 <footer class="footer-container container-fluid text-center text-lg-start text-light bg-primary">
    <!-- Grid container -->
    <div class="container p-1 pb-0">
      <!-- Section links 1 -->
      <section class="" >
        <!-- section links 1 grid row-->
        <div class="row">
          <!--social media links-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3 class="fw-bolder">Fun Tickets</h3>
            <h4>Let's connect here.</h4>
            <a class="text-light m-1"  target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook h1"></i></a>
            <a class="text-light m-1"  target="_blank" href="https://x.com/?lang=en"><i class="fa-brands fa-x-twitter h1"></i></a>
            <a class="text-light m-1"  target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram h1"></i></a>
            <a class="text-light m-1"  target="_blank" href="https://www.tiktok.com/login"><i class="fa-brands fa-tiktok h1"></i></a>
            <a class="text-light m-1"  target="_blank" href="#"><i class="fa-brands fa-youtube h1"></i></a>
          </div>
          <!--/social media links-->
      
          <!--Tickets grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4>Tickets</h4>
            <p>Ticket Outlet</p>
            <p>Ticket Resale</p>
            <p>Cancellations & Postponements</p>
          </div>
          <!--/Tickets grid column-->
        
          <!--Payment grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4>Payment Methods</h4>
            <a class="text-light m-1"  target="_blank" href="#"><i class="fa-brands fa-cc-visa h1"></i></a>
            <a class="text-light m-1"  target="_blank" href="#"><i class="fa-brands fa-cc-mastercard h1"></i></a>
            <a class="text-light m-1"  target="_blank" href="#"><i class="fa-brands fa-cc-stripe h1"></i></a>
            <a class="text-light m-1"  target="_blank" href="#"><i class="fa-brands fa-cc-paypal h1"></i></a>
          </div>
          <!--/Payment grid column-->
        
          <!--contacts grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4>Contact</h4>
              <p><i class="fa-solid fa-house-chimney h5"></i> Marienplatz Munich,Germany</p>
              <p><i class="fa-solid fa-envelope h5"></i> info@gmail.com</p>
              <p><i class="fa-solid fa-phone h5"></i> +49 123 456 789</p>
              <p><i class="fa-solid fa-print h5"></i> +49 123 456 780</p>
          </div>
          <!--/contacts grid column-->
        </div>
        <!--section links 1 grid row-->  
      </section>
      <!-- /Section links 1 -->

      <!--section links 2 -->
      <section class="p-3 pt-0">
        <!--section links 2 grid row-->
        <div class="row bg-light text-primary">
          <!--copyright grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <strong> <p><i class="fa-regular fa-copyright"></i> 2024 All rights reserved.</p></strong>
          </div>
          <!--/copyright grid column-->
        </div>
      <!--/section links 2 grid row-->
      </section>
      <!--/section links 2 -->
    </div>
    <!--/Grid container -->
  </footer>
  <!-- /Footer -->
