 <!--Footer-->
 <footer class="footer-container container-fluid text-center text-lg-start text-light bg-primary">
    <!-- Grid container -->
    <div class="container p-1 pb-0">
      <!-- Section links 1 -->
      <section class="" >
        <!-- section links 1 grid row-->
        <div class="row">
          <!--social media links-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3 class="fw-bolder">Fun Tickets</h3>
            <h4>Let's connect here.</h4>
          </div>
          <!--/social media links-->
      
          <!--Tickets grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4>Tickets</h4>
          </div>
          <!--/Tickets grid column-->
        
          <!--Payment grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4>Payment Methods</h4>
          </div>
          <!--/Payment grid column-->
        
          <!--contacts grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4>Contact</h4>
          </div>
          <!--/contacts grid column-->
        </div>
        <!--section links 1 grid row-->  
      </section>
      <!-- /Section links 1 -->

      <!--section links 2 -->
      <section class="p-3 pt-0">
        <!--section links 2 grid row-->
        <div class="row bg-light text-primary">
          <!--copyright grid column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <strong> <p><i class="fa-regular fa-copyright"></i> 2024 All rights reserved.</p></strong>
          </div>
          <!--/copyright grid column-->
        </div>
      <!--/section links 2 grid row-->
      </section>
      <!--/section links 2 -->
    </div>
    <!--/Grid container -->
  </footer>
  <!-- /Footer -->
