<di class="collapse navbar-collapse" id="main-nav"></di>
    <ul class="navbar-nav w-auto mx-auto">
        <li><a class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-black mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="all-products-link">
                All Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a href="" class="dropdown-item ">By Category</a></li>
                <li><a href="" class="dropdown-item">All Products</a></li>
            </ul>
        </a></li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-black mr-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="course-link">
                Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="course-link">
               <li><a href="" class="dropdown-item">Design</a></li>
                <li><a href="" class="dropdown-item">IT and Software</a></li>
                <li><a href="" class="dropdown-item">Marketing</a></li>
                <li><a href="" class="dropdown-item">All courses</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-black mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="Design-link">
                Design
            </a>
            <ul class="dropdown-menu" aria-labelledby="Design-link">
                <li><a href="" class="dropdown-item">Web Design</a></li>
                <li><a href="" class="dropdown-item">Grapgic Design</a></li>
                <li><a href="" class="dropdown-item">Game Design</a></li>
                <li><a href="" class="dropdown-item">All Designs</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-black mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false"id="marketing-link">
                Marketing
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="marketing-link">
                <li><a href="" class="dropdown-item">Digital Marketing</a></li>
                <li><a href="" class="dropdown-item">Product Marketing</a></li>
                <li><a href="" class="dropdown-item">Marketing Analytics and Automation</a></li>
                <li><a href="" class="dropdown-item">All Marketing</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown"></a></li>
            <a class="nav-link dropdown-toggle font-weight-bold text-black mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="software-link">
                Software
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="Software-link">
                <li><a href="" class="dropdown-item">IT Certificates</a></li>
                <li><a href="" class="dropdown-item">Network and Security</a></li>
                <li><a href="" class="dropdown-item">Operating Systems and Servers</a></li>
                <li><a href="" class="dropdown-item">All Software</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-black mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="specials-link">
                Special Offers
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="" class="dropdown-item">Deals</a></li>
            </ul>
        </li>
    </ul>
</ul>