<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-white mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="Design-link">
                Design
            </a>
            <ul class="dropdown-menu" aria-labelledby="Design-link">
                <li><a href="" class="dropdown-item">Web Design</a></li>
                <li><a href="" class="dropdown-item">Graphic Design</a></li>
                <li><a href="" class="dropdown-item">Game Design</a></li>
                <li><a href="" class="dropdown-item">All Designs</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-white mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="software-link">
                IT and Software
            </a>
            <ul class="dropdown-menu" aria-labelledby="Software-link">
                <li><a href="" class="dropdown-item">IT Certificates</a></li>
                <li><a href="" class="dropdown-item">Network and Security</a></li>
                <li><a href="" class="dropdown-item">Operating Systems and Servers</a></li>
                <li><a href="" class="dropdown-item">All Software</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-white mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false"id="marketing-link">
                Marketing
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="marketing-link">
                <li><a href="" class="dropdown-item">Digital Marketing</a></li>
                <li><a href="" class="dropdown-item">Product Marketing</a></li>
                <li><a href="" class="dropdown-item">Marketing Analytics and Automation</a></li>
                <li><a href="" class="dropdown-item">All Marketing</a></li>
            </ul>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-white mr-5" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="specials-link">
                Special Offers
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="" class="dropdown-item">Deals</a></li>
            </ul>
        </li>
    </ul>
</div>