<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="course-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="course-link">
                <a href="" class="dropdown-item">Design</a>
                <a href="" class="dropdown-item">IT & Software</a>
                <a href="" class="dropdown-item">Marketing</a>
                <a href="" class="dropdown-item">All courses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Design-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Design-link">
                <a href="" class="dropdown-item">Web Design</a>
                <a href="" class="dropdown-item">Grapgic Design</a>
                <a href="" class="dropdown-item">Game Design</a>
                <a href="" class="dropdown-item">All Designs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="marketing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Marketing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="marketing-link">
                <a href="" class="dropdown-item">Digital Marketing</a>
                <a href="" class="dropdown-item">Product Marketing</a>
                <a href="" class="dropdown-item">Marketing Analytics & Automation</a>
                <a href="" class="dropdown-item">All Marketing</a>
            </div>
        </li>

        <li class="nav-item dropdown"></li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="software-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Software
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Software-link">
                <a href="" class="dropdown-item">IT Certificates</a>
                <a href="" class="dropdown-item">Network & Security</a>
                <a href="" class="dropdown-item">Operating Systems & Servers</a>
                <a href="" class="dropdown-item">All Software</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Deals</a>
            </div>
        </li>
    </ul>
</div>