{% extends 'products/admin/index.html' %}
{% block list_area %}
    <div class="col">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                <a type="button" href="{% url 'create_course' %}" class="btn btn-outline-success">Add New Course</a>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <a href="?sort=courseName">
                                    Name
                                    
                                </a>
                            </th>
                            <th>
                                <a href="?sort=instructor">
                                    Instructor
                                   
                                </a>
                            </th>
                            <th>
                                <a href="?sort=category">
                                    Category
                                    
                                </a>
                            </th>
                            <th>
                                <a href="?sort=price">
                                    Price
                                    
                                </a>
                            </th>
                            <th>
                                <a href="?sort=rating">
                                    Rating
        
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr onclick="window.location.href='{% url "edit_course" product.id %}';" style="cursor: pointer;">
                                <td>{{product.id}}</td>
                                <td>{{product.courseName}}</td>
                                <td>{{product.instructor}}</td>
                                <td>{{product.category}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.rating}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'includes/pagination.html' with page_obj=products query_params=query_params %}
    </div>
{% endblock %}