{% load humanize %}
<div class="col-md-4 mb-3">
    <div class="card h-100 shadow border-0 product-card"
        data-bs-toggle="tooltip" data-bs-html="true" 
        title='
            <div class="card d-none d-md-block">
                <div class="card-body">
                    <p class="card-title h5">{{product.courseName}}</p>
                    <div class="mb-2 text-muted small">
                        <span>{{ product.duration|intcomma }} total hours</span>
                        <span class="text-primary"> • </span>
                        <span>{{ product.category.name }}</span>
                    </div>
                    <p class="card-text">{{product.description}}</p>
                    <div class="d-flex flex-column mt-4">
                        <a href="/products/{{product.id}}/" class="btn btn-outline-primary btn-sm">Course Details</a>
                        <a href="/products/add-to-cart/{{product.id}}/?next={{request.get_full_path}}" class="btn btn-outline-warning btn-sm mt-2 text-dark">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        '>
       
        <img src="{{product.imageUrl}}" class="card-img-top" alt="{{ product.courseName }}"
            srcset="
            {{ product.imageUrl }} 320w,
            {{ product.imageUrl }} 640w,
            {{ product.imageUrl }} 1024w"
            sizes="(max-width: 320px) 320px, 
            (max-width: 640px) 640px, 
            (max-width: 1024px) 1024px, 
            100vw"
        >
        
        <div class="card-body">
            <p class="card-title h5">{{product.courseName}}</p>
            <div class="mb-2 text-muted small">
                <span>By {{ product.instructor }}</span>                        
            </div>
            <div class="mb-2 text-muted small">
                <span>{{ product.students|intcomma }} students</span>                        
            </div>
            <div class="mb-2 text-muted small">
                <span>{{ product.duration|intcomma }} total hours</span>
                <span class="text-primary"> • </span>
                <span>{{ product.level }}</span>
                <span class="text-primary"> • </span>
                <span>{{ product.lectures }} lectures<br></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                {% if product.flag %}
                    <span class="badge bg-warning text-dark">Best Seller</span>
                {% endif %}
                <span class="text-warning">                       
                    {% for i in "12345" %}
                        {% if forloop.counter <= product.rating %}
                            <i class="fas fa-star text-warning"></i>  
                        {% else %}
                            <i class="far fa-star text-warning"></i> 
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <span class="fw-bold">${{product.price}}</span>
                <span>{{product.reviews|intcomma}} reviews</span>
            </div>
        </div>

        <div class="d-flex d-sm-none justify-content-around align-items-center mt-2 mb-2">
            <a href="/products/{{product.id}}/" class="btn btn-outline-primary btn-sm mb-2 me-2">Course Details</a>
            <a href="/products/add-to-cart/{{product.id}}/?next={{request.get_full_path}}" class="btn btn-outline-warning btn-sm mb-2 ms-2 text-dark">
                Add to Cart
            </a>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('.product-card'));
        var currentPopover = null;

        popoverTriggerList.forEach(function(card) {
            var popover = new bootstrap.Popover(card, {
                trigger: 'manual' 
            });

            card.addEventListener('click', function() {
                if (currentPopover && currentPopover !== popover) {
                    currentPopover.hide();
                }
                if (currentPopover === popover) {
                    popover.hide();
                    currentPopover = null;
                } else {
                    popover.show();
                    currentPopover = popover;
                }
            });
        });
        document.addEventListener('click', function(e) {
            if (!e.target.closest('.product-card') && currentPopover) {
                currentPopover.hide();
                currentPopover = null;
            }
        });
    });
</script>