{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block page_header %}
    <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
    </div>

{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Products</h2>
                </div>
            </div>
            <div class="container mt-5">
            <div class="row row-gap-3">
                {% for product in page_obj %}
                    {% include 'products/product_card.html' with product=product %}
                {% empty %}
                    <p>No products available.</p>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>

    {% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('.product-card'));
            var currentPopover = null;
    
            popoverTriggerList.forEach(function(card) {
                var popover = new bootstrap.Popover(card, {
                    trigger: 'manual'
                });
    
                card.addEventListener('click', function() {
                    if (currentPopover && currentPopover !== popover) {
                        currentPopover.hide();
                    }
                    if (currentPopover === popover) {
                        popover.hide();
                        currentPopover = null;
                    } else {
                        popover.show();
                        currentPopover = popover;
                    }
                });
            });
            document.addEventListener('click', function(e) {
                if (!e.target.closest('.product-card') && currentPopover) {
                    currentPopover.hide();
                    currentPopover = null;
                }
            });
        });
    </script>
    
{% endblock %}

